<header class="header">
      <div class="inner">
        <div class="nav">
          <div class="left_bar">
            <div class="nav__left">
              <%= link_to image_tag("logo.png", class: :logo), root_path %>
            </div>
          </div>
          <div class="right_bar">
              <div class="nav__right"> 
                 <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
                 <%= link_to "My home", refriges_path, class: :nav__btn %>
              </div> 
          </div>
        </div>
    </div>
</header>

<div class="contents-row">
  <div class="container">
    <h2 class="new-sing">User edit</h2>
    <%= form_with model: current_user, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%# <%= devise_error_messages! %> 

      <div class="form-group">
        <div class="field">
          <label class="form-text">ニックネーム</label>
          <span class="indispensable">(必須)</span>
        </div>
        <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) furima太郎", maxlength:"40" %>
     </div>

      <div class="form-group">
        <div class="field">
         <label class="form-text">メールアドレス</label>
         <span class="indispensable">(必須)</span>
        </div>
        <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
      </div>
      
     <div class="actions">
        <%= f.submit "Update",class:"send" %>
     </div>
    <% end %>
  </div>
</div>