<header class="header">
    <div class="inner">
      <div class="nav">
        <div class="left_bar">
          <div class="nav__left">
            <%= link_to image_tag("logo.png", class: :logo), root_path %>
          </div>
        </div>
        <div class="right_bar">
          
        </div>
      </div>
    </div>
</header>



<div class="mainpage">

<%# <%= ここから画面left %> 
  <div class="page_left">
    <div class="sabu_left">
            <%# <%= ここから冷蔵庫名 一覧 %> 
          <div class="name">
            <div class="name_left">
              <%= link_to current_user.nickname, edit_user_path(current_user) %>
            </div>
             <p class="name_end">の reico</p>
          </div>
            <% current_user.refriges.each do |refrige| %>
              <div class="refrige__btn">
                <div class="refrige_name">
                  <%= link_to refrige.refrige_name, refrige_foods_path(refrige) %>
               </div>
             </div>
            <% end %>
        
            <%# <%= ここまで冷蔵庫名 一覧 %>
    </div>
  </div>
<%# <%= ここまで画面left %> 



<%# <%= ここから画面right %>
  <div class="page_right">
    <div class="sabu_right">
     <%# <%= ここから食材一覧 %>
     <%# <%= ここまで食材一覧 %>
    </div>
  </div>
<%# <%= ここまで画面right %>

</div>
