<header class="header">
    <div class="inner">
      <div class="nav">
        <div class="left_bar">
          <div class="nav__left">
            <%= link_to image_tag("logo.png", class: :logo), root_path %>
          </div>
        </div>
        <div class="right_bar">
          <div class="menu__right"> 
             <%= link_to "買いました", root_path, class: :menu__btn %>
          </div> 
          <div class="menu__right"> 
             <%= link_to "食べました", root_path, class: :menu__btn %>
          </div> 
          <div class="menu__right"> 
            <%= link_to "リクエスト", root_path, class: :menu__btn %>
          </div>
        </div>
      </div>
    </div>
</header>

<div class="mainpage">
<%# <%= ここから画面left %> 
  <div class="page_left">
    <div class="sabu_left">
            <%# <%= ここから冷蔵庫名 一覧 %> 
          <%# <div class="refriges"> %>
            <% current_user.refriges.each do |refrige| %>
              <div class="refrige__btn">
                <div class="refrige_name">
                  <a href="#"><%= refrige.refrige_name %></a>
               </div>
             </div>
            <% end %>
         <%# </div> %>
            <%# <%= ここまで冷蔵庫名 一覧 %>
    </div>
  </div>
<%# <%= ここまで画面left %> 

<%# <%= ここから画面right %> 
  <div class="page_right">
    <div class="sabu_right">
     <%# <%= ここから食材一覧 %>

     
     <div class="foods">
         <div class="food">
          <div class="food_name">
           ヨーグルト
          </div>
          <div class="product_name">
           明治ブルガリアヨーグルト
          </div>
          <div class="category">
           乳製品
          </div>
          <div class="purchase_date">
           3月24日
          </div>
          <div class="sell_by">
           4月10日
          </div>
          <div class="shop">
           イオン江南店
          </div>
         </div>
       </div>

       <div class="foods">
         <div class="food">
          <div class="food_name">
           にんじん
          </div>
          <div class="product_name">
           所農園のにんじん
          </div>
          <div class="category">
           野菜
          </div>
          <div class="purchase_date">
           3月24日
          </div>
          <div class="sell_by">
           。。。。。
          </div>
          <div class="shop">
           イオン江南店
          </div>
         </div>
       </div>
     
     <%# <%= ここまで食材一覧 %> 
    </div>
  </div>
</div>
<%# <%= ここまで画面right %> 

