<header class="header">
    <div class="inner">
      <div class="nav">
        <div class="left_bar">
          <div class="nav__left">
            <%= link_to image_tag("logo.png", class: :logo), root_path %>
          </div>
        </div>
        <div class="right_bar">
          <div class="menu__right"> 
             <%= link_to "my reico",  refrige_foods_path, class: :menu__btn %>
          </div> 
        </div>
      </div>
    </div>
</header>

<div class="food-page">
   <div class="new-food">
     <p class="new-food-title">
      ■購入食材を冷蔵庫に追加しよう■
     </p>
     <p class="new-foodsub-title">
      (※ 食材名、カテゴリー、購入日の入力は必須です)
     </p>
     <div class="food-spece">
    <%= form_with model: @form, url: refrige_foods_path, method: :post, local: true do |form|%>
    <table class="form-table">
      <thead>
        <tr>
          <th>食材名 (必須)</th>
          <th>商品名　</th>
          <th>カテゴリー (必須)</th>
          <th>購入日(必須)</th>
          <th>賞味期限</th>
          <th>購入店　</th>
        </tr>
      </thead>
      <tbody class="bulk-registration-field">
         <%= form.fields_for :foods do |f|%>
          <tr class="item">
            <td>
              <%= f.text_field :food_name, class: 'form-control'%>
            </td>
            <td>
              <%= f.text_field :product_name, class: 'form-control'%>
            </td>
            <td>
              <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:'form-control'}) %>
            </td>
            <td>
              <%= f.date_field  :purchase_date, class: 'form-control'%>
            </td>
            <td>
              <%= f.date_field :sell_by, class: 'form-control' %>
            </td>
            <td>
              <%= f.text_field :shop, class: 'form-control'%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <div class="text-center">
      <%= form.submit '食材をまとめて追加', class: 'btn-btn-primary' %>
    </div>
  <% end %>
  </div>
</div>
