<header class="header">
    <div class="inner">
      <div class="nav">
        <div class="left_bar">
          <div class="nav__left">
            <%= link_to image_tag("logo.png", class: :logo), root_path %>
          </div>
        </div>
        <div class="right_search_bar">
           <div class="menu__search">
             <%= form_with(url: search_refrige_foods_path, local: true, method: :get, class: "search-form") do |form| %>
             <%= form.text_field :keyword, placeholder: "食材を検索する", class: "search-input" %>
             <%= form.submit "検索", class: "search-btn" %>
             <% end %>
           </div>
           <div class="right__search"> 
             <%= link_to "my reico",  refrige_foods_path, class: :menu__btn %>
           </div>
        </div>
      </div>
    </div>
</header>

<div class="food-page">
   <div class="in_search">
     <div class="search-food">
       <div class="search-food-title">
         <div class="refrige_right">
        <%= link_to @refrige.refrige_name, edit_refrige_path(@refrige.id) %>
         </div>
         <p class="sabu-search-title">
          ■ Editをクリックすると食材の 編集・削除 ができます ■
         </p>
       </div>
       <div class="sub_search">
        <div class="category__search">
          <%= render "shared/category"%>
        </div>
        <div class="sort__search">
          <%= render "shared/sort"%>
        </div>
       </div>
     </div>
      <div class="sabu_food">
         <div class="food_scroll">
          <table class="food_table">
            <tr>
            <th>食材名</th>
            <th>商品名</th>
            <th>カテゴリー</th>
            <th>購入日</th>
            <th>賞味期限</th>
            <th>購入店</th>
            <th></th>
            </tr>
            <% @foods.each do |food| %>
              <tr class="foods" data-id=<%= food.id %> data-check=<%= food.checked %>>
                <td class="food_name" id="lists" > <%= food.food_name %></td>
                <td class="product_name" id="lists"><%= food.product_name %></td>
                <td class="category_id" id="lists"><%= food.category.name %></td>
                <td class="purchase_date" id="lists"><%= food.purchase_date %></td>
                <td class="sell_by" id="lists"><%= food.sell_by %></td>
                <td class="shop" id="lists"><%= food.shop %></td>
                <td class=edit_btn><%= link_to 'Edit', edit_refrige_food_path(id: food.id) %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
   </div>
</div>